.Home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4rem 0rem;
    align-items: center;
    gap: 6rem;
}

.Home-intro{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.Home-intro img{
    width: 55%;
}

.Home-intro-left{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 2rem;
    justify-content: center;
}

.Heading{
    font-size: 2.6rem;
    line-height: 3.2rem;
}
.Heading span{
    color: #52ACFF;
}
.Home-intro-left button{
    width: 40%;
    padding: 1rem;
}
.Home-intro-left a{
    padding-left: 0.4rem;
    text-decoration: underline;
    color: #5E5252;
}


.Help-section{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    row-gap: 5rem;
    justify-items: center;
    margin-bottom: 12rem;
}

.Help-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 1rem;
    padding: 3rem 2rem;
    border-radius: 1rem;
    position: relative;
    color: #1D3146;
}

.Tdown{
    transform: translateY(50%);
}


.Metrics{
    display: flex;
    gap: 4rem;
    width: 70%;
    margin-bottom: 3rem;
}
.Metrics div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.Metrics h1{
    color:#52ACFF;
}
.Metrics p{
    color: #1D3146;
}



.Testimonials{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.Testimonials-components{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    overflow: hidden;
}
.Testimonials-wrapper{
    display: flex;
    gap: 4.8rem;
    transition: all 1.3s;
}
.Testimonials-wrapper::after{
    content: "";
    width: 34rem;
}
.Testimonials button{
    z-index: 100;
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 40%;
    border: none;
    background-color: inherit;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 14px #ababab;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
.Testimonials-btn-left{
    left: -3%;
}
.Testimonials-btn-right{
    right: -5%;
}
.Testimonials button svg{
    display: flex;
    width: 2rem;
    height: 2rem;
    scale: 0.9;
}





/* //////////////////////////////////////////////// */
.Floating-container{
    display: flex;
    gap: 1rem;
    position: absolute;
    background-color: white;
    padding: 0.8rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 0px 12px #e5e5e5;
}
.Floating-container p{
    width: 80%;
    color: #52ACFF;
    font-weight: 600;
    font-size: 0.8rem;
}

.--1{
    top: -8%;
    left: -40%;
    width: 90%;
}
.--2{
    bottom: 5%;
    left: -30%;
}
.--3{
    bottom: -24%;
    left: -54%;
}
.--3 h1{
    font-size: .8rem;
    line-height: normal;
}

.--4{
    top: -50%;
}
.--4 h1{
    font-size: .8rem;
    line-height: normal;
}
.--5{
    width: 44%;
    top: -72%;
    right: -46%;
}
.--6{
    right: -44%;
    top: 4%;
}
.--7{
    width: 70%;
    right: -44%;
    top: 4%;
}
.--8{
    width: 70%;
    right: -50%;
    top: 2%;
}


/* //////////////////////////////////////////////////// */
.circle-1{
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: #CEBAE3;
    border-radius: 50%;
    top: 46%;
    left: -38%;
}
.circle-2{
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: #87BCD5;
    border-radius: 50%;
    bottom: -10%;
    left: -18%;
}
.circle-3{
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: #CEBAE3;
    border-radius: 50%;
    bottom: 50%;
    left: -30%;
}
.circle-4{
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    background-color: #87BCD5;
    border-radius: 50%;
    bottom: 82%;
    left: -30%;
}
.circle-5{
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: #CEBAE3;
    border-radius: 50%;
    bottom: 22%;
    left: -50%;
}
.circle-6{
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    background-color: #87BCD5;
    border-radius: 50%;
    bottom: -34%;
    left: -4%;
}
.circle-7{
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    background-color: #87BCD5;
    border-radius: 50%;
    right: -20%;
    bottom: 21%;
}
.circle-8{
    right: -40%;
}
.circle-9{
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: #CEBAE3;
    border-radius: 50%;
    right: -26%;
    bottom: -17%;
}
.circle-10{
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    background-color: #FF946B;
    border-radius: 50%;
    right: -42%;
    bottom: 52%;
}
.circle-11{
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: #87BCD5;
    border-radius: 50%;
    top: -30%;
    right: 22%;
}



