/* BlogList.css */
.blog-list {
    width: 100%;
    /* margin-left: 10%; */
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* For Firefox */
    text-align: -webkit-center;
  }
  
  .blog-list::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
  }
  
  .blog-list::-webkit-scrollbar-track {
    background: transparent; /* Color of the track */
  }
  
  .blog-list::-webkit-scrollbar-thumb {
    background-color: transparent; /* Color of the thumb */
  }
  