/* App.css */
.blog {
    display: flex;
    /* margin-top: 6rem; */
    margin-top: 5rem;
    height: 100vh;

}

.sidebar {
    flex-basis: 30%;
    background-color: #f0f0f0;
    height: 100%;
    display: flex;
    justify-content: center;
    /* Center-align the options horizontally */
    align-items: center;

    /* Center-align the options vertically */
}

.options {
    text-align: center;
    cursor: pointer;


    /* By default, display options in a row layout */

    /* Center-align the text inside the options */
}




.accordion-content {
    background-color: #f0f0f0;
    margin-left: 2rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.9s ease-out;
    /* Transition the max-height property */
}

.accordion-content.open {
    max-height: 1000px;
    /* Apply a higher max-height when open */
}

.accordion-content p {
    font-weight: bold;
}

.accordion-content ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
}

.accordion-content li {
    margin-bottom: 5px;
}

label {
    display: flex;
    width: fit-content;
    text-align: left;
    cursor: pointer;
    gap: 10px;

}



.selected {
    background-color: #52ACFF;
    color: white;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: .6em;
}

.option {
    margin-bottom: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* Add margin between the options */
}

/* 
.option:hover {
    background-color: #d0e8ff;
    color: black;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: .6em;

} */

.bloglist {
    flex-basis: 70%;
    /* Set the body width to 70% */
    background-color: #ffffff;
    /* Body background color */
    height: 100%;
}


@media screen and (max-width: 900px) {

    /* .Header{
        height: 3rem;
        padding: .2rem .4rem;
    }

    .Header-options a{
        font-size: 1rem;
    }

    .Header-options{
        gap: 0.8rem;
    }

    .Logo-1{
        width: 25%;
    }
    .Header-Sign-in{
        font-size: 0.9rem;
        padding: .2rem .4rem;
    } */
    
    .blog {
        display: flex;
        /* margin-top: 6rem; */
        flex-direction: column;
        margin-top: 3rem;
        height: 100vh;

    }


    .sidebar {
        flex-basis: 10%;
        background-color: #f0f0f0;
        height: 100%;
        display: block;
        /* Remove display: flex */

    }


    .options {

        display: flex;
        justify-content: space-evenly;
        align-content: space-evenly;
        margin-top: 10px;

        /* Center-align the text inside the options */
    }


    .accordion-content {
        background-color: #f0f0f0;
        margin-left: 2rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.9s ease-out;
        /* Transition the max-height property */
    }

    .accordion-content.open {
        max-height: 100%;
        /* Apply a higher max-height when open */
    }

    .accordion-content p {
        font-weight: bold;
    }
    .accordion-content select {
        display: block;
        width: 100%;
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 1rem;
        position: absolute; /* Add position relative */
        top: 90px; /* Adjust the top position */
        left: 0;
        z-index: 99999999999999;
      }

    .accordion-content li {
        margin-bottom: 5px;
    }

    label {
        display: flex;
        width: fit-content;
        text-align: left;
        cursor: pointer;
        gap: 10px;

    }

    .selected {
        background-color: #52ACFF;
        color: white;
        padding-right: 5px;
        padding-left: 5px;
        border-radius: .6em;
    }

    .option {
        margin-bottom: 10px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        /* Add margin between the options */
    }

    .bloglist {
        flex-basis: 90%;
        /* Set the body width to 70% */
        background-color: white;
        /* Body background color */
        height: 100%;
    }


}


@media screen and (max-width: 700px) {
    /*
    .Header{
        height:2rem;
        padding: .15rem .3rem;
    }

    .Header-options a{
        font-size: 0.6rem;
    }

    .Header-options{
        gap: 0.4rem;
    }

    .Logo-1{
        width: 25%;
    }
    .Header-Sign-in{
        font-size: 0.66rem;
        padding: .15rem .3rem;
    } */

    
    .blog {
        display: flex;
        /* margin-top: 6rem; */
        flex-direction: column;
        margin-top: 2rem;
        height: 100vh;

    }


    .sidebar {
        flex-basis: 10%;
        background-color: #f0f0f0;
        height: 100%;
        display: block;
        /* Remove display: flex */

    }


    .options {

        display: flex;
        justify-content: space-evenly;
        align-content: space-evenly;
        margin-top: 10px;

        /* Center-align the text inside the options */
    }


    .accordion-content {
        background-color: #f0f0f0;
        margin-left: 2rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.9s ease-out;
        /* Transition the max-height property */
    }

    .accordion-content.open {
        max-height: 100%;
        /* Apply a higher max-height when open */
    }

    .accordion-content p {
        font-weight: bold;
    }
    .accordion-content select {
        display: block;
        width: 100%;
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 1rem;
        position: absolute; /* Add position relative */
        top: 90px; /* Adjust the top position */
        left: 0;
        z-index: 99999999999999;
      }

    .accordion-content li {
        margin-bottom: 5px;
    }

    label {
        display: flex;
        width: fit-content;
        text-align: left;
        cursor: pointer;
        gap: 10px;

    }

    .selected {
        background-color: #52ACFF;
        color: white;
        padding-right: 5px;
        padding-left: 5px;
        border-radius: .6em;
    }

    .option {
        margin-bottom: 10px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        /* Add margin between the options */
    }

    .bloglist {
        flex-basis: 90%;
        /* Set the body width to 70% */
        background-color: white;
        /* Body background color */
        height: 100%;
    }


}



@media screen and (max-width: 420px) {



    .blog {
        display: flex;
        /* margin-top: 6rem; */
        flex-direction: column;
        margin-top: 3rem;
        height: 100vh;

    }


    .sidebar {
        flex-basis: 10%;
        background-color: #f0f0f0;
        height: 100%;
        display: block;
        /* Remove display: flex */

    }


    .options {

        display: flex;
        justify-content: space-evenly;
        align-content: space-evenly;
        margin-top: 10px;

        /* Center-align the text inside the options */
    }


    .accordion-content {
        background-color: #f0f0f0;
        margin-left: 2rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.9s ease-out;
        /* Transition the max-height property */
    }

    .accordion-content.open {
        max-height: 100%;
        /* Apply a higher max-height when open */
    }

    .accordion-content p {
        font-weight: bold;
    }
    .accordion-content select {
        display: block;
        width: 100%;
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 1rem;
        position: absolute; /* Add position relative */
        top: 90px; /* Adjust the top position */
        left: 0;
        z-index: 99999999999999;
      }

    .accordion-content li {
        margin-bottom: 5px;
    }

    label {
        display: flex;
        width: fit-content;
        text-align: left;
        cursor: pointer;
        gap: 10px;

    }

    .selected {
        background-color: #52ACFF;
        color: white;
        padding-right: 5px;
        padding-left: 5px;
        border-radius: .6em;
    }

    .option {
        margin-bottom: 10px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        /* Add margin between the options */
    }

    .bloglist {
        flex-basis: 90%;
        /* Set the body width to 70% */
        background-color: white;
        /* Body background color */
        height: 100%;
    }


    /* .blog {
        display: flex;
        flex-direction: column;
    }

    .sidebar {
        width: 76%;
        height: 140px;
    } */

    /* .Header{
        padding: 0.4rem 0.6rem;
        height: 3rem;
        position: fixed;
        gap: 0.2rem;
        align-items: center;
        z-index: 10;
    }
    
    .Logo-1{
        display: none;
    }
    .logos{
        width: 10%;
    }
    .Logo-2{
        display: block;
    }

    .Header-options{
        display: flex;
        position: absolute;
        flex-direction: column;
        background-color: white;
        width: 80vw;
        height: 100vh;
        right: 0;
        align-items: flex-end;
        justify-content: start;
        padding: 1rem;
        gap: 1rem;
        transform: translateX(100%);
        transition: all 0.5s;
        z-index: 12;
        bottom: 0;
        padding-top: 4rem;
    }
    .Menu-open{
        transform: translateX(0%);
    }
    .Header-options a{
        color: #1E2330;
        font-size: 1rem;
        display: block;
        width: 100%;
        text-align: end;
        border-bottom: 1px solid #ECECEC;
    }

    .Header-menu-button{
        display: block;
        width: 1.8rem;
    }

    .Header-Sign-in{
        max-width: 40%;
        font-size: 1rem;
        padding: .2rem .4rem;
    } */
}